﻿@using ReferralApp.Models
@model UserProfileViewModel
@{
    LayoutMenuViewModel LayoutMenuModel = ViewBag.LayoutMenuModel;
}

@if (Model.Referrals.Count() > 0)
{
    <div>
        @Html.Partial("_Referrals", Model.Referrals)
    </div>
}
else
{
    <p>No referrals created.</p>
    if (LayoutMenuModel.CurrentUser != null && LayoutMenuModel.CurrentUser.UserName.Equals(Model.UserProfileOwner.UserName))
    {
        <a href="@Url.Action("Create", "Referral")" >create a linkcode...</a>
    }
}

