﻿@using ReferralApp.Models
@model UserProfileViewModel
@{
    LayoutMenuViewModel LayoutMenuModel = ViewBag.LayoutMenuModel;
}

@if (Model.ReferralLists.Count() > 0)
{
    <div class="row">
        @Html.Partial("_ReferralLists", Model.ReferralLists)
    </div>
}
else
{
    <p>No referral lists created.</p>
    if (LayoutMenuModel.CurrentUser != null && LayoutMenuModel.CurrentUser.UserName.Equals(Model.UserProfileOwner.UserName))
    {
        <a href="@Url.Action("Create", "ReferralList")">create a linkcode...</a>
    }
}