﻿@using ReferralApp.Helpers

<div class="row">
    <ul class="nav nav-pills">
        <li role="presentation" class="@Html.IsSelected(actions: "UserProfileFollowingReferralLists", controllers: "UserProfile", cssClass: "active")"><a href="/@Model.UserProfileOwner.UserName/following">Linkcodelists</a></li>
        <li role="presentation" class="@Html.IsSelected(actions: "UserProfileFollowing", controllers: "UserProfile", cssClass: "active")"><a href="/@Model.UserProfileOwner.UserName/following/linkcodes">Linkcodes</a></li>
        <li role="presentation" class="@Html.IsSelected(actions: "UserProfileFollowingTags", controllers: "UserProfile", cssClass: "active")"><a href="/@Model.UserProfileOwner.UserName/following/tags">Tags</a></li>
        <li role="presentation" class="@Html.IsSelected(actions: "UserProfileFollowingPeople", controllers: "UserProfile", cssClass: "active")"><a href="/@Model.UserProfileOwner.UserName/following/people">People</a></li>
    </ul>
</div>
<hr>