﻿@using Microsoft.AspNet.Identity
@using ReferralApp.Helpers
@using ReferralApp.Models
@{
    LayoutMenuViewModel LayoutMenuModel = ViewBag.LayoutMenuModel;
    string userProfileFollowingGroup = "UserProfileFollowing,UserProfileFollowingReferralLists,UserProfileFollowingTags,UserProfileFollowingPeople";
}
<style type="text/css">
    .account-item {
        padding-top: 8px;
    }
    .profile-photo {
        border:1px solid lightgray;
        width:200px;
        height:200px;
    }
    .profile-photo-none {
        font-size:10em;
    }
    .user-profile-search-region {
        padding: 15px 0px 0px 10px;
    }
    #input-box-profile-content {
        min-width:180px; 
        display:none;
    }
</style>

<div class="well well-lg">
    <div class="row">
        <div class="col-lg-3">
            @if (!string.IsNullOrEmpty(Model.UserProfilePhotoFileName))
            {
                <img src="@Url.Content("~/Content/Images/" + Model.UserProfilePhotoFileName)" class="img-circle profile-photo"/>
            }
            else
            {
                <span class="glyphicon glyphicon-user profile-photo-none"></span>
            }
        </div>
        <div class="col-lg-9 ">
            <h2>@ViewBag.Title</h2>
            @if (LayoutMenuModel.CurrentUser != null && LayoutMenuModel.CurrentUser.UserName.Equals(Model.UserProfileOwner.UserName))
            {
                <a href="@Url.Action("Index", "Manage")" class="btn btn-default">Edit profile</a>
            }
            else
            {
                <div class="follow-btn-container">
                    @if (Model.FollowingUser)
                    {
                        <button class="btn btn-default" type="submit" id="following-user" value="@Model.UserProfileOwner.UserName"><span>Unfollow</span></button>
                    }
                    else
                    {
                        <button class="btn btn-primary" type="submit" id="follow-user" value="@Model.UserProfileOwner.UserName"><span>Follow</span></button>
                    }
                </div>
            }
        </div>
    </div>
</div>
<ul class="nav nav-tabs">
    @*<li class="@Html.IsSelected(actions: "UserProfileHome", controllers: "UserProfile", cssClass: "active")">
        <a href="/@Model.UserProfileOwner.UserName" aria-expanded="true">Home</a>
    </li>*@
    @*<li class="@Html.IsSelected(actions: "UserProfileReferrals", controllers: "UserProfile", cssClass: "active")">
        <a href="/@Model.UserProfileOwner.UserName/linkcodes" aria-expanded="true">Linkcodes</a>
    </li>*@
    <li class="@Html.IsSelected(actions: "UserProfileReferralLists,UserProfileListDetails", controllers: "UserProfile", cssClass: "active")">
        <a href="/@Model.UserProfileOwner.UserName" aria-expanded="false">Linkcodelists</a>
    </li>
    <li class="@Html.IsSelected(actions: "UserProfileReferrals,UserProfileReferralDetails", controllers: "UserProfile", cssClass: "active")">
        <a href="/@Model.UserProfileOwner.UserName/linkcodes" aria-expanded="true">Linkcodes</a>
    </li>
    
    <li class="@Html.IsSelected(actions: userProfileFollowingGroup, controllers: "UserProfile", cssClass: "active")">
        <a href="/@Model.UserProfileOwner.UserName/following" aria-expanded="false">Following</a>
    </li>
    <li class="@Html.IsSelected(actions: "UserProfileAbout", controllers: "UserProfile", cssClass: "active")">
        <a href="/@Model.UserProfileOwner.UserName/about">About</a>
    </li>
    <li>
        <div class="user-profile-search-region">
            <span id="search-icon-profile-content" class="glyphicon glyphicon-search"></span>
            <input id="input-box-profile-content" type="text" name="" placeholder="Search Profile">
        </div>
    </li>
</ul>

<script type="text/javascript">
    $(document).ready(function () {

        $("#search-icon-profile-content").on("click", function () {
            $(this).hide();
            $("#input-box-profile-content").show();
        });

        $(".follow-btn-container").on("click", "#follow-user", function () {
            var userNameFollow = $(this).val();
            $.ajax({
                type: 'POST',
                url: "@Url.Action("UserProfileFollow", "UserProfile")",
                data: {'userName': userNameFollow},
                success: function (response) {
                    $("#follow-user").replaceWith('<button class="btn btn-default" type="submit" id="following-user" value="@Model.UserProfileOwner.UserName"><span>Unfollow</span></button>');
                },
                error: function (exception) {
                    alert('Exception:' + exception);
                }
            });
            return false;
        });

        $(".follow-btn-container").on("click", "#following-user", function () {
            var userNameUnfollow = $(this).val();
            $.ajax({
                type: 'POST',
                url: "@Url.Action("UserProfileUnfollow", "UserProfile")",
                data: { 'userName': userNameUnfollow },
                success: function (response) {
                    $("#following-user").replaceWith('<button class="btn btn-primary" type="submit" id="follow-user" value="@Model.UserProfileOwner.UserName"><span>Follow</span></button>');
                },
                error: function (exception) {
                    alert('Exception:' + exception);
                }
            });
            return false;
        });
    });
</script>
