﻿@model ReferralApp.Models.UserProfileViewModel
@{
    ViewBag.Title = Model.UserProfileOwner.UserName;
}
<style>
    .create-referral-list-form {
        display: none;
    }

    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }

    #results-filter {
        position: relative;
        display: block;
        padding: 10px 15px;
    }
</style>

@Html.Partial("~/Views/UserProfile/_UserProfilePartial.cshtml")
&nbsp;


<h2>Recent</h2>
<hr />
<h2>New Linkcodes</h2>
<hr />
<h2>New Linkcodelists</h2>
<hr />