﻿@model ReferralApp.Models.UserProfileFollowingPeopleViewModel
@{
    ViewBag.Title = Model.UserProfileOwner.UserName;
}
<style type="text/css">
    .user-leader-container {
        text-align:center;
        margin-bottom:1em;
    }
    .profile-photo {
        border:1px solid lightgray;
        width:130px;
        height:143px;
    }
    .profile-photo-none {
        font-size:10em;
        color:#555555;
    }
    .username-region {
        font-weight:bold; 
        font-size:x-large;
    }
</style>

@Html.Partial("~/Views/UserProfile/_UserProfilePartial.cshtml")
&nbsp;
@Html.Partial("~/Views/UserProfile/_UserProfileFollowingPartial.cshtml")

@foreach (var relationship in Model.LeaderFollowerRelationships)
{
    <div class="col-lg-3 user-leader-container">
        <a href="/@relationship.UserLeader.UserName">
            @{
                var profilePhoto = relationship.UserLeader.FilePaths.FirstOrDefault(o => o.FileType == ReferralApp.Entities.FileType.UserProfilePhoto);
                if (profilePhoto != null)
                {
                    if (!System.IO.File.Exists(Path.Combine(@"C:\Users\kevin_000\Desktop\Projects\ReferralApp\ReferralApp\Content\Images", profilePhoto.FileName)))
                    {
                        profilePhoto = null;
                    }
                }

                var profilePhotoFileName = profilePhoto != null ? profilePhoto.FileName : "";
            }
            @if (!string.IsNullOrEmpty(profilePhotoFileName))
            {
                <img src="@Url.Content("~/Content/Images/" + profilePhotoFileName)" class="img-circle profile-photo"/>
            }
            else
            {
                <span class="glyphicon glyphicon-user profile-photo-none"></span>
            }
            <div class="username-region">
                @relationship.UserLeader.UserName
            </div>
        </a>
        <div class="follow-btn-container">
            <button class="btn btn-default follow-user" type="submit" value="@relationship.UserLeader.UserName"><span>Unfollow</span></button>
        </div>
        &nbsp;
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".follow-btn-container").on("click", ".follow-user", function () {
            var userNameFollow = $(this).val();
            var buttonToSelect = "button[value=" + userNameFollow + "]";
            var targetText = $(event.target).text().trim();
            if (targetText === "Follow") {
                FollowUser(userNameFollow, buttonToSelect);
            }
            else if (targetText === "Unfollow") {
                UnfollowUser(userNameFollow, buttonToSelect);
            }
        });
    });

    function FollowUser(userNameFollow, buttonToSelect)
    {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("UserProfileFollow", "UserProfile")",
            data: {'userName': userNameFollow},
            success: function (response) {
                $(buttonToSelect).replaceWith('<button class="btn btn-default follow-user" type="submit" value='+ userNameFollow +'><span>Unfollow</span></button>');
            },
            error: function (exception) {
                alert('Exception:' + exception);
            }
        });
        return false;
    }

    function UnfollowUser(userNameUnfollow, buttonToSelect)
    {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("UserProfileUnfollow", "UserProfile")",
            data: { 'userName': userNameUnfollow },
            success: function (response) {
                $(buttonToSelect).replaceWith('<button class="btn btn-primary follow-user" type="submit" value=' + userNameUnfollow + '><span>Follow</span></button>');
            },
            error: function (exception) {
                alert('Exception:' + exception);
            }
        });
        return false;
    }
</script>