﻿@using ReferralApp.Models
@model ReferralApp.Models.ReferralDetailsViewModel
@{
    ViewBag.Title = Model.UserProfileOwner.UserName;
    LayoutMenuViewModel LayoutMenuModel = ViewBag.LayoutMenuModel;
}

@Html.Partial("~/Views/UserProfile/_UserProfilePartial.cshtml")
<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Model.Referral.Title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
    $('#myModal').on('hidden.bs.modal', function (e) {
        window.location.href =  '/@Model.UserProfileOwner.UserName/linkcodes';
    })
</script>