﻿@model ReferralApp.Models.UserProfileViewModel
@{
    ViewBag.Title = Model.UserProfileOwner.UserName;
}
<style type="text/css">
    .create-referral-list-form {
        display: none;
    }
    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
    #results-filter {
        position: relative;
        display: block;
        padding: 10px 15px;
    }
    .myClickableThingy {
        cursor: pointer;
    }
    #sort-referral-list-region {
        text-align:right; 
        display:none;
    }
    #progress {
        display:none; 
        text-align:center
    }
    #load-more-button {
        display:none;
        margin:auto;
    }
    #load-more-region {
        text-align:center;
    }
</style>


@Html.Partial("~/Views/UserProfile/_UserProfilePartial.cshtml")
&nbsp;
<div id="container">
    <div id="sort-referral-list-region">
        <form id="form-sort-referrals" action="~/@Model.UserProfileOwner.UserName/" method="get">
            <input type="hidden" name="sort" id="sort-referral-value" />
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="selection">@Model.SortSelectionSelected.Text</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    @foreach (var sortNotSelected in Model.SortSelectionsNotSelected)
                    {
                        if (!sortNotSelected.Value.Contains("archived"))
                        {
                            <li><a class="myClickableThingy" data-value="@sortNotSelected.Value">@sortNotSelected.Text</a></li>
                        }
                    }
                </ul>
            </div>
        </form>
    </div>
    &nbsp;
</div>
&nbsp;
<div id="progress">
    <h4>Loading...</h4>
</div>
<div id="load-more-region">
    <button id="load-more-button">
        <h4>load more</h4>
    </button>
</div>



<script type="text/javascript">
    var pageSize = 30;
    var pageIndex = 0;
    var userName = '@Model.UserProfileOwner.UserName';
    var noReferralListsLeft = false;
    var sortSelected = '@Model.SortSelectionSelected.Value';
    $(document).ready(function () {
        GetData();
        $("#load-more-button").on("click", function () {
            GetData();
        });

        $(".dropdown-menu li a.myClickableThingy").click(function () {
            $('#sort-referral-value').val($(this).data('value'));
            var initialText = $(this).parents(".btn-group").find('.selection').text();
            $(this).parents(".btn-group").find('.selection').text($(this).text());
            $(this).text(initialText);
            $('#form-sort-referrals').submit();
        });
    });

    function GetData() {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("LoadReferralLists", "UserProfile")",
            data: { "pageindex": pageIndex, "pagesize": pageSize, "userName": userName, "sort": sortSelected },
            dataType: 'json',
            success: function (data) {
                noReferralListsLeft = data.noReferralListsLeft;
                if (data != null) {
                    $("#container").append(data.partialHtml);
                    pageIndex++;
                }
                else {
                    alert("data is null");
                }
            },
            beforeSend: function () {
                $("#load-more-button").hide();
                $("#progress").show();
            },
            complete: function (data) {
                $("#progress").hide();
                $("#sort-referral-list-region").show();

                if (!noReferralListsLeft) {
                    $("#load-more-button").show();
                }
                else {
                    $("#load-more-button").hide();
                }
            },
            error: function () {
                alert("Error while retrieving data!");
            }
        });
    }
    //$(function () {

    //    $('.create-referral-list').click(function () {
    //        $(this).children("a").remove();
    //        $(this).removeClass("create-referral-list");
    //        $(this).children(".create-referral-list-form").show();
    //    })

    //    $('.create-referral-list-btn').prop('disabled', true);
    //    $('#new-referral-list-title').keyup(function () {
    //        $('.create-referral-list-btn').prop('disabled', this.value == "" ? true : false);
    //    })
    //})

    //$('.stop-propagation').on('click', function (e) {
    //    e.stopPropagation();
    //});
</script>