﻿@model ReferralApp.Models.UserProfileFollowingReferralsViewModel
@{
    ViewBag.Title = Model.UserProfileOwner.UserName;
}

@Html.Partial("~/Views/UserProfile/_UserProfilePartial.cshtml")
&nbsp;
@Html.Partial("~/Views/UserProfile/_UserProfileFollowingPartial.cshtml")

@if (Model.UserProfileFollowingReferrals.Count() > 0)
{
    <div>
        @Html.Partial("_Referrals", Model.UserProfileFollowingReferrals)
    </div>
}
else
{
    <p>Following no referrals.</p>
}
