﻿@using ReferralApp.Models
@model ReferralApp.Models.ReferralListDetailsViewModel

@{
    ViewBag.Title = Model.UserProfileOwner.UserName;
    LayoutMenuViewModel LayoutMenuModel = ViewBag.LayoutMenuModel;
}
<style>
    .create-referral-list-form {
        display: none;
    }
    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
    .referral-list-title {
        text-align:center;
    }
    .btn-saved {
        color:blue;
    }
</style>
@Html.Partial("~/Views/UserProfile/_UserProfilePartial.cshtml")
<div class="row referral-list-title">
    <h2>
        <span class="glyphicon glyphicon-list"></span>&nbsp;@Model.ReferralList.Title
    </h2>
</div>
<div class="user-action-toolbar text-center">
    <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"></span> Add all to</button>
    @if (Model.ReferralListIsFollowedByCurrentUser)
    {
        <button class="btn btn-default btn-xs btn-saved"><span class="glyphicon glyphicon-ok"></span> Saved</button>
    }
    else if(LayoutMenuModel.CurrentUser != null && !LayoutMenuModel.CurrentUser.UserName.Equals(Model.UserProfileOwner.UserName))
    {
        <button class="btn btn-default btn-xs">Save</button>
    }
    <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-share-alt"></span> Share</button>
</div>
<hr />
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
Why do we use it?
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
&nbsp;

@if (Model.ReferralList.TagReferralListRelationships.Count() > 0)
{
    @*<p>no tags added to this list</p>*@
    <hr />
    <h2>tags</h2>
    foreach (var tagListRelationship in Model.ReferralList.TagReferralListRelationships)
    {
        <a href="/tags/@tagListRelationship.Tag.Name.ToLower()" class="btn btn-warning btn-sm">
            @tagListRelationship.Tag.Name
        </a>
    }
}
else
{
    if (LayoutMenuModel.CurrentUser != null && LayoutMenuModel.CurrentUser.UserName.Equals(Model.UserProfileOwner.UserName))
    {
        <hr />
        <h2>tags</h2>
        <a href="#">Add tags...</a>
    }
}
<hr />
<h2>linkcodes</h2>
&nbsp;
@if (Model.ReferralList.ReferralListRelationships.Count() <= 0)
{
    <p>no linkcodes in the list.</p>
}
<div class="row">
    @Html.Partial("_Referrals", Model.ReferralList.ReferralListRelationships.Select(o => o.Referral).ToList())
</div>
<script type="text/javascript">
    var referralListID = @Model.ReferralList.ReferralListID;
    $(function () {
        $(".user-action-toolbar").on('click', "button", function () {
            var targetText = $(event.target).text().trim(); 
            if(targetText  === "Save")
            {
                SaveList();
            }
            else if(targetText  === "Saved")
            {
                UnsaveList();
            }
        });
    });

    function SaveList()
    {
        $.ajax({
            type:'POST',
            url: "@Url.Action("SaveReferralList", "ReferralList")",
            data: {'referralListID':referralListID},
            success: function (response) {
                $("button:contains('Save')").replaceWith('<button class="btn btn-default btn-xs btn-saved"><span class="glyphicon glyphicon-ok"></span> Saved</button>');
            },
            error: function (exception) {
            alert('Exception:' + exception);
            }
        });
    }

    function UnsaveList()
    {
        $.ajax({
            type:'POST',
            url: "@Url.Action("UnsaveReferralList", "ReferralList")",
            data: {'referralListID':referralListID},
            success: function (response) {
            $("button:contains('Saved')").replaceWith('<button class="btn btn-default btn-xs">Save</button>');
            },
            error: function (exception) {
            alert('Exception:' + exception);
            }
        });
    }

    function GetReferralListsCurrentUser(thisObj, referralID)
    {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("GetReferralListsCurrentUser", "ReferralList")",
            data: { "referralID": referralID },
            dataType: 'json',
            success: function (data) {
                $(".referral-lists-container").children('a').remove();
                $(".referral-lists-container").append(data.partialHtml);
            },
            beforeSend: function () {
            },
            complete: function (data) {
            },
            error: function () {
                alert("Error while retrieving data!");
            }
        })
    }

    $('.stop-propagation').on('click', function (e) {
        e.stopPropagation();
    });
</script>