﻿@using ReferralApp.Models
@model ReferralApp.Models.UserProfileViewModel
@{
    LayoutMenuViewModel LayoutMenuModel = ViewBag.LayoutMenuModel;
    ViewBag.Title = Model.UserProfileOwner.UserName;
}
<style>
    #results-filter {
        position: relative;
    display: block;
    padding: 10px 15px;
    }

    .myClickableThingy {
    cursor: pointer;
    }
    #sort-referrals-region {
        text-align:right; 
        display:none;
    }
    #progress {
        display:none; 
        text-align:center
    }
    #load-more-button {
        display:none;
        margin:auto;
    }
    #load-more-region {
        text-align:center;
    }
</style>

@Html.Partial("~/Views/UserProfile/_UserProfilePartial.cshtml")
&nbsp;
<div id="container">
    <div id="sort-referrals-region">
        <form id="form-sort-referrals" action="~/@Model.UserProfileOwner.UserName/linkcodes" method="get">
            <input type="hidden" name="sort" id="sort-referral-value" />
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="selection">@Model.SortSelectionSelected.Text</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    @foreach (var sortNotSelected in Model.SortSelectionsNotSelected)
                    {
                        if (sortNotSelected.Value.Contains("archived"))
                        {
                            if (LayoutMenuModel.CurrentUser != null && LayoutMenuModel.CurrentUser.UserName.Equals(Model.UserProfileOwner.UserName))
                            {
                                <li><a class="myClickableThingy" data-value="@sortNotSelected.Value">@sortNotSelected.Text</a></li>
                            }
                        }
                        else
                        {
                            <li><a class="myClickableThingy" data-value="@sortNotSelected.Value">@sortNotSelected.Text</a></li>
                        }
                    }
                </ul>
            </div>
        </form>
    </div>
    &nbsp;
</div>
&nbsp;
<div id="progress">
    <h4>Loading...</h4>
</div>
<div id="load-more-region">
    <button id="load-more-button">
        <h4>load more</h4>
    </button>
</div>

<script type="text/javascript">
    var pageSize = 30;
    var pageIndex = 0;
    var userName = '@Model.UserProfileOwner.UserName';
    var noReferralsLeft = false;
    var sortSelected = '@Model.SortSelectionSelected.Value';
    $(document).ready(function () {
        GetData();
        $("#load-more-button").on("click", function () {
            GetData();
        });

        $(".dropdown-menu li a.myClickableThingy").click(function () {
            $('#sort-referral-value').val($(this).data('value'));
            var initialText = $(this).parents(".btn-group").find('.selection').text();
            $(this).parents(".btn-group").find('.selection').text($(this).text());
            $(this).text(initialText);
            $('#form-sort-referrals').submit();
        });
    });

    function GetData() {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("LoadReferrals", "UserProfile")",
            data: { "pageindex": pageIndex, "pagesize": pageSize, "userName": userName, "sort": sortSelected },
            dataType: 'json',
            success: function (data) {
                noReferralsLeft = data.noReferralsLeft;
                if (data != null) {
                    $("#container").append(data.partialHtml);
                    pageIndex++;
                }
                else {
                    alert("data is null");
                }
            },
            beforeSend: function () {
                $("#load-more-button").hide();
                $("#progress").show();
            },
            complete: function (data) {
                $("#progress").hide();
                $("#sort-referrals-region").show();

                if (!noReferralsLeft) {
                    $("#load-more-button").show();
                }
                else {
                    $("#load-more-button").hide();
                }
            },
            error: function () {
                alert("Error while retrieving data!");
            }
        });
    }
</script>