﻿@model ReferralApp.Models.ReferralListDetailsViewModel

@{
    ViewBag.Title = Model.ReferralList.Title + " Details";
}

<h2>@ViewBag.Title</h2>



@foreach (var r in Model.Referrals)
{
    <p>
        @r.Title
    </p>
    
}