﻿@model ReferralApp.Models.CreateReferralViewModel
@{
    ViewBag.Title = "Create your Referral";
}
@*<head>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-tagsinput.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-tagsinput.css")" type="text/css" />
</head>*@
@*<script src="@Url.Content("~/Scripts/bloodhound.min.js")" type="text/javascript"></script>*@

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Referral", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
 
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Referral.Title, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Referral.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Referral.Title)
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Link", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Referral.Url, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Referral.Code, new { @class = "col-md-2 control-label" }) 
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Referral.Code, new { @class = "form-control", })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Referral.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Referral.Description, new { @class = "form-control", })
        </div>
    </div>
    @*<div class="form-group">
        @Html.LabelFor(m => m.Referral.CategoryReferralRelationships, new { @class = "col-md-2 control-label" })
        <div class="col-md-10" data-role="tagsinput">
            <input type="text" id="categories-input"  name="categories" />
        </div>
    </div>*@
    <div class="form-group">
        @Html.Label("Tags", new { @class = "col-md-2 control-label" })
        <div class="col-md-10" data-role="tagsinput">
            <input type="text" id="tags-input" name="tags" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Referral.ExpirationDate, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Referral.ExpirationDate, new { @class = "form-control", id = "expirationDate", placeholder = "mm/dd/yyyy" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>
    </div>
    
}

<script type="text/javascript">
    $(function () {
        var tagNames = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '@Url.Action("GetTagNames", "Tag")',
                transform: function (response) {
                    return $.map(response.tagNames, function (tag) {
                        return {
                            name: tag
                        };
                    });
                },
                cache: false
            }
        });

        $('#tags-input').tagsinput({
            typeaheadjs: [{
                minLength: 1,
                highlight: true,
            }, {
                minlength: 3,
                name: 'tagNames',
                displayKey: 'name',
                valueKey: 'name',
                source: tagNames
            }],
            freeInput: true
        });

        $('.bootstrap-tagsinput').keypress(function (e) {
            if (e.which == 13) return false;
            //or...
            if (e.which == 13) e.preventDefault();
        });
        
        $('#expirationDate').datetimepicker();
    });
</script>
