﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyLinkCode</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Scripts/typeahead.bundle.min.js")" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-tagsinput.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-tagsinput.css")" type="text/css" />
    @RenderSection("scripts", required: false)
    
    <style type="text/css">
        .baller > .search-test {
            width:100%;
        
        }
        #notification-container {
            position:absolute; top: 70px; left:0; z-index:1
        }
        .navbar-form-width {
            width:60%;
        }
        .group-width {
            width:100%
        }
        #navbar-input {
            min-width:100%
        }
        .navbar-inverse .navbar-brand {
            color:#158cba;
            font-family: 'Times New Roman';
            font-size:2em;
            font-weight:bolder;
        }
    </style>

    @functions
    {
        public string GetViewPage()
        {
            var viewPage = string.Empty;
            try
            {
                var routeValues = HttpContext.Current.Request.RequestContext.RouteData.Values;
                if (routeValues != null)
                {
                    var actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
                    var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
                    viewPage = controllerName + "/" + actionName;

                }
            }
            catch (Exception e)
            {
                Response.Redirect("~/Views/Shared/Error.cshtml");
            }
            return viewPage;
        }
    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("mylinkcode", "Index", "Home", new { area = "" }, new { @class = "navbar-brand logo" })
            </div>
            <div class="navbar-collapse collapse">
                @if (@GetViewPage() != "Home/Index")
                {
                    <form class="navbar-form navbar-left navbar-form-width">
                        <div class="form-group group-width">
                            <div class="input-group group-width">
                                <input type="text" id="navbar-input" class="form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div id="notification-container"></div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <!-- TODO Modal Create Referral-->
        @*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create Linkcode</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>*@
        <!-- TODO Modal Create Referral-->
        @*<div class="modal fade" id="createLinkcodelist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create Linkcodelist</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>*@

        @*login/register modal*@
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document" style="text-align:center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel" >Sign up for mylinkcode.com</h4>
                    </div>
                    <div class="modal-body">
                        <h5>
                            Join mylinkcode to start liking and saving referral codes.
                        </h5>
                        <div>
                            <a href="/account/register" class="btn btn-primary">Sign up</a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        Have an account? <a href="/account/login">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
