﻿@using ReferralApp.Models
@{
    LayoutMenuViewModel LayoutMenuModel = ViewBag.LayoutMenuModel;
}

<style>
li.menu-item {
    margin:0 5px 0 0;   
}
</style>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @Html.Partial("_NavBarMenuRightCommon")
        <li class="dropdown menu-item">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@LayoutMenuModel.CurrentUser.UserName <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li><a href="/@LayoutMenuModel.CurrentUser.UserName">Profile</a></li>
                <li><a href="/@LayoutMenuModel.CurrentUser.UserName/following">Following</a></li>
                <li><a href="/analytics">Analytics</a></li>
                <li><a href="/messages">Messages</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/all">All</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="@Url.Action("Index", "Manage")">Settings</a></li>
                <li><a href="#">Help</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
            </ul>
         </li>
     </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
       @Html.Partial("_NavBarMenuRightCommon")
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
