﻿@using ReferralApp.Models
@{
    LayoutMenuViewModel LayoutMenuModel = ViewBag.LayoutMenuModel;
}
<style>
    .myClickableThingy {
        cursor: pointer;
    }
    .btn {
        text-align:left
    }
</style>
<li class="menu-item">
    <p class="navbar-btn">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-plus"></span>
                @*<span class="glyphicon glyphicon-plus"></span> Refer*@
            </button>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Create", "Referral")">Create Referral</a></li>
                <li><a href="@Url.Action("Create", "ReferralList")">Create Referral List</a></li>
                @*TODO - make into modals
                    <li><a class="btn" data-toggle="modal" data-target="#myModal">Create Linkcode</a></li>
                <li><a class="btn" data-toggle="modal" data-target="#createLinkcodelist">Create Linkcodelist</a></li>*@
            </ul>
        </div>
    </p>
</li>
<li class="menu-item">
    <div class="navbar-btn">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-tags"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Create", "Referral")">Cars</a></li>
                <li><a href="#">Clothes</a></li>
                <li><a href="#">Food</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Music</a></li>
                <li><a href="/tags"><i>view all...</i></a></li>
            </ul>
        </div>
    </div>
</li>
<li class="menu-item">
    <div class="navbar-btn">
        <div class="btn-group">
            <button type="button" class="btn btn-default button-tooltip" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-question-sign"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </div>
    </div>
</li>
<script type="text/javascript">
    $(function () {
        $(".button-tooltip").tooltip();
    });
</script>
