﻿@using ReferralApp.Models
@model List<ReferralApp.Entities.Referral>
@{
    LayoutMenuViewModel LayoutMenuModel = ViewBag.LayoutMenuModel;
}
<style type="text/css">
    .create-referral-list-form {
        display: none;
    }
    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
    .panel-referral {
        /*height: 200px;*/
        width: 100%;
        cursor: pointer;
    }
    .glyphicon-referral-list {
        float: right;
    }
    .referral-footer-region {
        position: relative;
    }
    .dropdown-menu-add-to {
        min-width: 300px;
    }
    .referral-lists-region {
        border: 1px solid #ddd;
    }
    .btn-user-options {
        font-size: 2em;
    }
    .username-link {
        color:white; 
        font-weight:bolder; 
        font-style:italic;
    }
    .username-link:hover {
        color:white; 
        font-weight:bolder; 
        font-style:italic;
    }
    .username-link-region {
        float: right;
    }
    .user-action-left {
        float:left
    }
    .user-action-right {
        float:right
    }
</style>

@foreach (var referral in Model)
{
    var referralShowID = "referralShow-" + referral.ReferralID;
    var referralUpdateID = "referralUpdate-" + referral.ReferralID;
    var referralDeleteID = "referralDelete-" + referral.ReferralID;
    var url = !string.IsNullOrEmpty(referral.Url) && referral.Url.Contains("http") ? referral.Url : "http://" + referral.Url;

    <div id="@referral.ReferralID" data-createdby="@referral.CreatedBy.UserName" class="col-lg-6 referral-container">
        <div class="panel panel-primary panel-referral" data-toggle="modal" data-href="@url" data-target="#@referralShowID">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-modal-window"></span>
                <b>@Html.DisplayFor(modelItem => referral.Title)</b>
                <span class="username-link-region">
                    by <a href="/@referral.CreatedBy.UserName" class="username-link">@referral.CreatedBy.UserName</a>
                </span>
            </div>
            <div class="panel-body">
                @*@if (referral.ExpirationDate != null)
                {
                    //TODO: expiring formula
                    var daysLeft = referral.ExpirationDate.Value.Subtract(DateTime.UtcNow);
                    <div><i>@daysLeft.TotalDays days left</i></div>
                }*@
                <div>
                    @if (referral.TagReferralRelationships.Count > 0)
                    {
                        <span class="glyphicon glyphicon-tags"></span>
                    }
                    &nbsp;
                    @foreach (var r in referral.TagReferralRelationships.Take(3))
                    {
                        <span class="label label-warning">@r.Tag.Name</span>
                    }
                </div>
                <div class="referral-footer-region">
                    <hr />
                    @*TODO: add auth behavior*@
                    <div class="btn-region-user-action">
                        <div class="user-action-left">
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button>
                            </div>
                            <!-- ADD TO -->
                            <div class="btn-group">
                                <button value="@referral.ReferralID" type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-plus" value="@referral.ReferralID"></span> Add to
                                </button>
                                <ul class="dropdown-menu stop-propagation dropdown-menu-add-to">
                                    <li>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@ViewBag.QueryString" type="text" id="Search" name="q" class="form-control" placeholder="Search by referral list title" aria-describedby="sizing-addon2" autocomplete="off" />
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                    </li>
                                    <li class="referral-lists-region">
                                        <div class="scrollable-menu referral-lists-container"></div>
                                    </li>
                                    <li class="create-referral-list">
                                        <a>Create referral list</a>
                                        <form action="~/ReferralList/Create" method="post" class="create-referral-list-form">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    @Html.Hidden("referralID", referral.ReferralID.ToString())
                                                    <input type="text" name="listTitle" class="new-referral-list-title form-control" placeholder="Create referral list" value="" />
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <div class="form-group">
                                                <div class="col-md-8">

                                                </div>
                                                <div class="col-md-4">
                                                    <input type="submit" class="btn btn-warning create-referral-list-btn" value="Create" />
                                                </div>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <!--SHARE-->
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs dropdown-toggle dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    share
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Create", "Referral")">Copy url to linkcode</a></li>
                                    <li><a href="#">Share via messages</a></li>
                                </ul>
                            </div>
                            &nbsp;
                            @if (LayoutMenuModel.CurrentUser != null && referral.UserIdCreatedBy.Equals(LayoutMenuModel.CurrentUser.Id))
                            {
                            <!-- OPTIONS -->
                                <div class="btn-group">
                                    <span class="glyphicon glyphicon-option-horizontal dropdown-toggle dropdown btn-user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                                    <ul class="dropdown-menu">
                                        <li><a class="myClickableThingy" data-toggle="modal" data-target="#@referralUpdateID">Edit</a></li>
                                        @*<li><a class="myClickableThingy" data-toggle="modal" data-target="#@referralDeleteID">Archive</a></li>*@
                                        <li><a class="myClickableThingy referral-archive" data-value="@referral.ReferralID">Archive</a></li>
                                    </ul>
                                </div>
                            }
                        </div>
                        <div class="user-action-right">
                            <div class="btn-group">
                                <button class="btn btn-success btn-sm">
                                    @if (!string.IsNullOrEmpty(referral.Code))
                                    {
                                        @Html.Raw("Show Code");
                                    }
                                    else
                                    {
                                        @Html.Raw("Visit Link");
                                    }
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Show-->
        <div class="modal fade" id="@referralShowID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">@referral.Title</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <a href="@referral.Url">@Html.DisplayFor(modelItem => referral.Url)</a>
                        </div>
                        <div>
                            @Html.DisplayFor(modelItem => referral.Code)
                        </div>
                        @if (referral.ExpirationDate != null)
                        {
                            <div>@Html.DisplayFor(modelItem => referral.ExpirationDate)</div>
                        }
                        else
                        {
                            <div>No Expiration.</div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Update -->
        <div class="modal fade" id="@referralUpdateID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Update linkcode @referralUpdateID</h4>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                @Html.Label("Title", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBox(referral.Title, referral.Title)

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Url", new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBox(referral.Url, new { @class = "form-control" })

                                </div>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        //TODO, track window history state change
        //http://stackoverflow.com/questions/11379411/how-can-i-detect-the-back-forwards-buttons-being-clicked-when-using-history-js
        var authenticated = '@Request.IsAuthenticated';
        console.log(authenticated);

        // only seen by authenticated users
        $('.referral-archive').on('click', function (e) {
            var referralValue = $(this).data('value');
            console.log(referralValue);
            //TODO unarchive referral
            ArchiveReferral(referralValue);
        })
        $('.create-referral-list').click(function () {
            $(this).children("a").remove();
            $(this).removeClass("create-referral-list");
            $(this).children(".create-referral-list-form").show();
        })
        $('.create-referral-list-btn').prop('disabled', true);
        $('.new-referral-list-title').keyup(function () {
            $('.create-referral-list-btn').prop('disabled', this.value == "" ? true : false);
        })
        $('.referral-container').on('click', '.panel-referral', function (e) {
            var target = e.target;
            console.log(e);
            console.log(target);
            console.log(target.nodeName);
            console.log(target.innerText);
            console.log(target.className);
            if (target.className.indexOf('glyphicon-thumbs-up') !== -1 || target.nodeName.indexOf('BUTTON') !== -1 && target.innerText.indexOf('LIKE') !== -1) {
                if (authenticated === 'true') {
                    console.log('i can like shit');
                } else {
                    console.log('nobooty likes');
                    $('#login-modal').modal('show');
                }
            }
            if (target.className.indexOf('glyphicon-plus') !== -1 || target.nodeName.indexOf('BUTTON') !== -1 && target.innerText.indexOf('ADD TO') !== -1) {
                if (authenticated === 'true') {
                    console.log('i can add shit');
                    var referralID = null;
                    if (target.className.indexOf('glyphicon-plus') !== -1) {
                        referralID = $(target).parent().attr('value');
                        //console.log(parentButtonValue);
                    }
                    else {
                        referralID = target.value;
                    }
                    GetReferralListsCurrentUser($(this), referralID);
                } else {
                    console.log('nobooty added');
                    $('#login-modal').modal('show');
                }
            }
            var linkIsOutbound = target.innerText.indexOf('VISIT LINK') === 0 || target.innerText.indexOf('SHOW CODE') === 0;
            if (linkIsOutbound
                || target.className.indexOf('myClickableThingy') === -1
                && target.nodeName.indexOf('BUTTON') === -1
                && target.nodeName.indexOf('SPAN') === -1) {
                if (target.className.indexOf('username-link') === -1) {
                    var href = $(this).attr('data-href');
                    alert(href);
                    //window.open(href, '_blank'); //TODO uncomment for PRODUCTION
                }
            }
            var referralDeleteIdSplit = e.currentTarget.nextElementSibling.id.split('-');
            var referralShowIdSelector = "referralShow-" + referralDeleteIdSplit[1];
            var referralCreatedBy = $('#' + referralDeleteIdSplit[1]).attr('data-createdby');
            var hostname = $(location).attr('hostname');
            //$("#" + referralShowIdSelector).modal('show');
            //window.location.href = '/' + foo + '/linkcodes/' + referralDeleteIdSplit[1];
            var referralUrl = '/' + referralCreatedBy + '/linkcodes/' + referralDeleteIdSplit[1];
           
            // rewrite url without redirect
            window.history.pushState("object or string", "Title", referralUrl);
          
            $("#" + referralShowIdSelector).on('show.bs.modal', function (eModal) {
                console.log('show modal');
                console.log(e);
                console.log(eModal);
                console.log(target);
                console.log(eModal.target);
                if (target.nodeName.indexOf('BUTTON') !== -1 || target.nodeName.indexOf('SPAN') !== -1) {
                    // needed in order to handle ADD TO button click event closing modal
                    console.log(target.className);
                    console.log(target.innerText);
                    console.log(target.className.indexOf('plus') === -1);
                    console.log(target.innerText.indexOf('ADD TO') === -1);
                    //TODO: not working in IE
                    if (linkIsOutbound === false && target.className.indexOf('plus') === -1 && target.innerText.indexOf('ADD TO') === -1) {
                        console.log('dont show');
                        eModal.preventDefault();
                        $(this).unbind('show.bs.modal');
                    }
                }
            });
            $("#" + referralShowIdSelector).on('hidden.bs.modal', function (eModal) {
                window.history.back();
            });
        });
    });
    function ArchiveReferral(referralID) {
        console.log('aasdfawevgaw');
        $.ajax({
            type: 'POST',
            url: "@Url.Action("Archive", "Referral")",
            data: { 'referralID': referralID },
            success: function (response) {
                console.log(referralID);
                console.log('wafaefijoijz');
                $('#' + referralID).remove();
            },
            error: function (exception) {
                alert('Exception:' + exception);
            }
        });
    }
    function GetReferralListsCurrentUser(thisObj, referralID) {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("GetReferralListsCurrentUser", "ReferralList")",
            data: { "referralID": referralID },
            dataType: 'json',
            success: function (data) {
                $(".referral-lists-container").children('a').remove();
                $(".referral-lists-container").append(data.partialHtml);
            },
            beforeSend: function () {
            },
            complete: function (data) {
            },
            error: function () {
                alert("Error while retrieving data!");
            }
        })
    }
    $('.stop-propagation').on('click', function (e) {
        e.stopPropagation();
    });
</script>

