﻿@using ReferralApp.Models
@model List<ReferralApp.Entities.ReferralList>
@{
    LayoutMenuViewModel LayoutMenuModel = ViewBag.LayoutMenuModel;
}
<style type="text/css">
    .create-referral-list-form {
        display: none;
    }
    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
    .panel-referral-list {
        width: 100%;
    }
    .referral-list-footer-region {
        position: relative;
    }
    .dropdown-menu-add-to {
        min-width: 300px;
    }

    .referral-lists-region {
        border: 1px solid #ddd;
    }

    .btn-user-options {
        font-size: 2em;
    }
    /*Important:*/
    .link-spanner {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        /* edit: fixes overlap error in IE7/8,
         make sure you have an empty gif
      background-image: url('empty.gif');*/
    }
    .username-link {
        color:white; 
        font-weight:bolder; 
        font-style:italic;
    }
    .username-link:hover {
        color:white; 
        font-weight:bolder; 
        font-style:italic;
    }
    .username-link-region {
        float: right;
    }
    .user-action-left {
        float:left
    }
    .user-action-right {
        float:right
    }
</style>

@foreach (var referralList in Model)
{
    int count = referralList.ReferralListRelationships.Count();
    var url = referralList.ReferralListID.ToString();
    var listUrl = string.Format("/{0}/lists/{1}", referralList.CreatedBy.UserName, referralList.ReferralListID);

    <div class="col-lg-6">
        <div class="panel panel-primary panel-referral-list">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>
                <b>@Html.DisplayFor(modelItem => referralList.Title)</b>
                <span><i>(@count linkcodes)</i></span>
                <span class="username-link-region">
                   by <a href="/@referralList.CreatedBy.UserName" class="username-link">@referralList.CreatedBy.UserName</a>
                </span>
            </div>
            <div class="panel-body">
                <div>
                    @if (referralList.TagReferralListRelationships.Count > 0)
                    {
                        <span class="glyphicon glyphicon-tags"></span>
                    }
                    &nbsp;
                    @foreach (var r in referralList.TagReferralListRelationships.Take(3))
                    {
                        <span class="label label-warning">@r.Tag.Name</span>
                    }
                </div>
                <div class="referral-list-footer-region">
                    <hr />
                    @*TODO: add auth behavior*@
                    <div class="btn-region-user-action">
                        <div class="user-action-left">
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs">Save</button>
                            </div>
                            <!-- ADD TO -->
                            <div class="btn-group">
                                <button value="" type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-plus" value=""></span> Add all to
                                </button>
                                <ul class="dropdown-menu stop-propagation dropdown-menu-add-to">
                                    <li>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input value="@ViewBag.QueryString" type="text" id="Search" name="q" class="form-control" placeholder="Search by referral list title" aria-describedby="sizing-addon2" autocomplete="off" />
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                    </li>
                                    <li class="referral-lists-region">
                                        <div class="scrollable-menu referral-lists-container"></div>
                                    </li>
                                    <li class="create-referral-list">
                                        <a>Create referral list</a>
                                        <form action="~/ReferralList/Create" method="post" class="create-referral-list-form">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    @*@Html.Hidden("referralID", referral.ReferralID.ToString())*@
                                                    <input type="text" name="listTitle" class="new-referral-list-title form-control" placeholder="Create referral list" value="" />
                                                </div>
                                            </div>
                                            <br />
                                            <br />
                                            <div class="form-group">
                                                <div class="col-md-8">

                                                </div>
                                                <div class="col-md-4">
                                                    <input type="submit" class="btn btn-warning create-referral-list-btn" value="Create" />
                                                </div>
                                            </div>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <!--SHARE-->
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs dropdown-toggle dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    share
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Create", "Referral")">Copy url to linkcode</a></li>
                                    <li><a href="#">Share via messages</a></li>
                                </ul>
                            </div>
                            &nbsp;
                            @if (LayoutMenuModel.CurrentUser != null && referralList.UserIdCreatedBy.Equals(LayoutMenuModel.CurrentUser.Id))
                            {
                            <!-- OPTIONS -->
                                <div class="btn-group">
                                    <span class="glyphicon glyphicon-option-horizontal dropdown-toggle dropdown btn-user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                                    <ul class="dropdown-menu">
                                        <li><a class="myClickableThingy" data-toggle="modal" data-target="">Edit</a></li>
                                        @*<li><a class="myClickableThingy" data-toggle="modal" data-target="#@referralDeleteID">Archive</a></li>*@
                                        <li><a class="myClickableThingy referral-archive" data-value="">Archive</a></li>
                                    </ul>
                                </div>
                            }
                        </div>
                        <div class="user-action-right">
                            <div class="btn-group">
                                <button class="btn btn-success btn-sm btn-view-list">View List</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="@listUrl">
            <span class="link-spanner"></span>
        </a>
    </div>
}

<script type="text/javascript">
    $(function () {
        $('.referral-archive').on('click', function (e) {
            var referralValue = $(this).data('value');
            console.log(referralValue);
            //$('#referralDelete-' + referralValue).modal('hide');
            //$('#cancel-modal-' + referralValue).click();
            // $('#' + referralValue).remove();
            //TODO archive referral
            ArchiveReferral(referralValue);
        })
        $('.create-referral-list').click(function () {
            $(this).children("a").remove();
            $(this).removeClass("create-referral-list");
            $(this).children(".create-referral-list-form").show();
        })
        $('.create-referral-list-btn').prop('disabled', true);
        $('.new-referral-list-title').keyup(function () {
            $('.create-referral-list-btn').prop('disabled', this.value == "" ? true : false);
        })
    });

    function GetReferralListsCurrentUser(thisObj, referralID)
    {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("GetReferralListsCurrentUser", "ReferralList")",
            data: { "referralID": referralID },
        dataType: 'json',
        success: function (data) {
            $(".referral-lists-container").children('a').remove();
            $(".referral-lists-container").append(data.partialHtml);
        },
        beforeSend: function () {
        },
        complete: function (data) {
        },
        error: function () {
            alert("Error while retrieving data!");
        }
    })
    }

    $('.stop-propagation').on('click', function (e) {
        e.stopPropagation();
    });
</script>