﻿@model ReferralApp.Models.ReferralListsAddToViewModel

<style type="text/css">
    .referral-remove {
        font-size:12px
    }
</style>

@if (Model.ReferralLists != null && Model.ReferralLists.Count() > 0)
{ //TODO: pass referral id???
    foreach (var referralList in Model.ReferralLists)
    {
        string referralIdAndListId = "";

        if (referralList.ReferralListRelationships.Any(o => o.ReferralID == Model.Referral.ReferralID))
        {
            referralIdAndListId = string.Format("{0},{1}", Model.Referral.ReferralID, referralList.ReferralListID);
            <a data-value="@referralIdAndListId" class="list-group-item">@referralList.Title <i class="referral-remove">(remove)</i></a>
        }
        else
        {
            referralIdAndListId = string.Format("{0},{1}", Model.Referral.ReferralID, referralList.ReferralListID);
            <a data-value="@referralIdAndListId" class="list-group-item">@referralList.Title</a>
        }
    }
}

<script>
    $(document).ready(function () {

        $('a').on('click', function () {

            var anchorReferralList = $(this);
            var anchorReferralListVal =  $(this).data('value').split(',');
            var referralID = anchorReferralListVal[0];
            var referralListID = anchorReferralListVal[1]
           
            if (!anchorReferralList.text().includes("remove")) {
                //alert('add');
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("AddReferralToList", "ReferralList")",
                    data: { 'referralID': referralID, 'referralListID': referralListID },
                    success: function () {
                        //  alert('success');
                        $('#notification-container').children().remove();
                        $('#notification-container').prepend("<span class='alert alert-dismissible alert-success'><b><span class='glyphicon glyphicon-ok'></span> Added to linkcodelist " + anchorReferralList.text() + "</b></span>").hide();
                    },
                    complete: function () {
                    //    alert("all day");
                    //anchorReferralList.parent('button').attr('aria-expanded', 'false');
                    anchorReferralList.dropdown('toggle');
                        $('#notification-container').show().delay(2000).fadeOut();
                    },
                    error: function () {
                    }
                });
            }
            else {
                //alert('remove');
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("RemoveReferralFromList", "ReferralList")",
                    data: { 'referralID': referralID, 'referralListID': referralListID },
                    success: function () {
                        //  alert('success');
                        $('#notification-container').children().remove();
                        $('#notification-container').prepend("<span class='alert alert-dismissible alert-success'><b><span class='glyphicon glyphicon-ok'></span> Removed from linkcodelist " + anchorReferralList.text().replace('(remove)', '') + "</b></span>").hide();
                    },
                    complete: function () {
                    //    alert("all day");
                    //anchorReferralList.parent('button').attr('aria-expanded', 'false');
                    anchorReferralList.dropdown('toggle');
                    $('#notification-container').show().delay(2000).fadeOut();
                    },
                    error: function () {
                    }
                });
            }
        })
    });
</script>