﻿@model ReferralApp.Models.TagIndexViewModel

@{
    ViewBag.Title = "Index";
    var tagStyles = new List<string> { "default", "primary", "success", "info", "danger", "warning" };
    var tagSizes = new List<string> { "", "sm" };
}

<style type="text/css">
    .tags-container {
        text-align:center;
    }
    .button-tag{
        margin-bottom: 0.5em;
    }
</style>
<h2>
    <span class="glyphicon glyphicon-tags"></span> &nbsp;Tags
</h2>
<hr />
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <input type="text" class="form-control" placeholder="filter by tag name" />
    </div>
    <div class="col-lg-4"></div>
</div>
&nbsp;
<div class="tags-container">
    @foreach (var tag in Model.Tags)
    {
        int styleIndex = new Random().Next(tagStyles.Count);
        int sizeIndex = new Random().Next(tagSizes.Count);
        var styleSelected = tagStyles[styleIndex];
        var sizeSelected = tagSizes[sizeIndex];

        <a href="/tags/@tag.Name.ToLower()" class="btn btn-@styleSelected btn-@sizeSelected button-tag">
            @tag.Name
        </a>
    }
</div>
