﻿@model ReferralApp.Models.TagDetailsViewModel

@{
    ViewBag.Title = Model.Tag.Name;
}
<style>
   
    .nav-tabs > li, .nav-pills > li {
        float:none;
        display:inline-block;
        *display:inline; /* ie7 fix */
         zoom:1; /* hasLayout ie7 trigger */
    }
    .nav-tabs, .nav-pills {
        text-align:center;
    }
</style>
<div class="tag-name-region">
    <h2>
        <span class="glyphicon glyphicon-tags"></span> &nbsp;@ViewBag.Title&nbsp;&nbsp;
        @if (Model.CurrentUserIsFollowingTag)
        {
            <button id="follow-tag" class="btn btn-default btn-xs">Unfollow</button>
        }
        else
        {
            <button id="follow-tag" class="btn btn-warning btn-xs">Follow</button>
        }
        <button class="btn btn-success btn-xs">Add linkcode</button>
    </h2>
</div>
<hr />
<ul class="nav nav-pills">
    <li class="active"><a href="#home" data-toggle="tab">Linkcodes</a></li>
    <li><a href="#profile" data-toggle="tab">Linkcodelist</a></li>
</ul>
&nbsp;
<div class="row">
    @Html.Partial("_Referrals", Model.TagReferrals)
</div>
<script>
    $(function () {
        $('.create-referral-list').click(function () {
            $(this).children("a").remove();
            $(this).removeClass("create-referral-list");
            $(this).children(".create-referral-list-form").show();
        })
        $('.create-referral-list-btn').prop('disabled', true);
        $('.new-referral-list-title').keyup(function () {
            $('.create-referral-list-btn').prop('disabled', this.value == "" ? true : false);
        })
        $("button:contains('Add to')").on('click', function () {
            var referralID = $(this).val();
            GetReferralListsCurrentUser($(this), referralID);
        });
        $(".tag-name-region").on("click", "#follow-tag",function () {
            var tagToFollow = @Model.Tag.TagID;
            console.log(tagToFollow);
            var targetText = $(event.target).text().trim(); 
            if(targetText  === "Follow")
            {
               // console.log(targetText);
                FollowTag(tagToFollow);
            }
            else if(targetText  === "Unfollow")
            {
                //console.log(targetText);
                UnfollowTag(tagToFollow);
            }
        });
    });

    function FollowTag(tagID)
    {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("FollowTag", "Tag")",
            data: {'tagID': tagID},
            success: function (response) {
                //console.log('success', response.responseFoo);
                $("#follow-tag").replaceWith('<button class="btn btn-default btn-xs" id="follow-tag"><span>Unfollow</span></button>');
            },
            error: function (exception) {
                alert('Exception:' + exception);
            }
        });
    }

    function UnfollowTag(tagID)
    {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("UnfollowTag", "Tag")",
            data: {'tagID': tagID},
            success: function (response) {
                //console.log('success', response.responseFoo);
                $("#follow-tag").replaceWith('<button class="btn btn-primary btn-xs" id="follow-tag"><span>Follow</span></button>');
            },
            error: function (exception) {
                alert('Exception:' + exception);
            }
        });
    }

    function GetReferralListsCurrentUser(thisObj, referralID)
    {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("GetReferralListsCurrentUser", "ReferralList")",
            data: { "referralID": referralID },
            dataType: 'json',
            success: function (data) {
                $(".referral-lists-container").children('a').remove();
                $(".referral-lists-container").append(data.partialHtml);
            },
            beforeSend: function () {
            },
            complete: function (data) {
            },
            error: function () {
                alert("Error while retrieving data!");
            }
        })
    }

    $('.stop-propagation').on('click', function (e) {
        e.stopPropagation();
    });
</script>