﻿@using Microsoft.AspNet.Identity
@using ReferralApp.Helpers

<style type="text/css">
    .nav-tabs > li, .nav-pills > li {
        float:none;
        display:inline-block;
        *display:inline; /* ie7 fix */
         zoom:1; /* hasLayout ie7 trigger */
    }
    .nav-tabs, .nav-pills {
        text-align:center;
    }
    .well-content {
        text-align:center;
    }
    .profile-photo {
        border:1px solid lightgray;
        width:100px;
        height:100px;
    }
</style>
<div>
    <h2>
        @if (!string.IsNullOrEmpty(Model.CurrentUserProfilePhotoFileName))
            {
            <img src="@Url.Content("~/Content/Images/" + Model.CurrentUserProfilePhotoFileName)" class="img-circle profile-photo" />@:&nbsp;Your Feed
        }
        else
        {
            <span class="glyphicon glyphicon-user profile-photo-none"></span>@:&nbsp;Your Feed
        }
        @*<span class="glyphicon glyphicon-user profile-photo-none"></span>&nbsp;Your Feed*@
    </h2>
</div>
<hr />
<ul class="nav nav-pills">
    <li class="@Html.IsSelected(actions: "UserFeedReferralLists", controllers: "UserFeed", cssClass: "active")">
        <a href="/" aria-expanded="false">Linkcodelists</a>
    </li>
    <li class="@Html.IsSelected(actions: "UserFeedReferrals", controllers: "UserFeed", cssClass: "active")">
        <a href="/linkcodes" aria-expanded="true">Linkcodes</a>
    </li>
</ul>