﻿@model ReferralApp.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    var statusUserNameClass = ViewBag.StatusUserName.ToString().Contains("taken") ? "text-danger" : "text-success" ;
    var statusUserEmailClass = ViewBag.StatusUserEmail.ToString().Contains("taken") ? "text-danger" : "text-success";
}
<style type="text/css">
    .account-item {
        padding-top: 8px;
    }
    .profile-photo {
        border:1px solid lightgray;
        width:200px;
        height:200px;
    }
    .profile-photo-none {
        font-size:10em;
    }
</style>

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<p class=@statusUserNameClass>@ViewBag.StatusUserName</p>
<p class=@statusUserEmailClass>@ViewBag.StatusUserEmail</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    @using (Html.BeginForm("Index", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Profile Picture", new { @class = "control-label col-md-2" })
            <div class="col-md-10 account-item">
                @if (!string.IsNullOrEmpty(Model.UserProfilePhotoFileName))
                {
                    <img src="@Url.Content("~/Content/Images/" + Model.UserProfilePhotoFileName)" class="img-circle profile-photo" />
                }
                else
                {
                    <span class="glyphicon glyphicon-user profile-photo-none"></span>
                }
                <div>&nbsp;</div>
                <input type="file" id="profile-photo-upload" name="upload"/>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Password", new { @class = "control-label col-md-2" })
            <div class="col-md-10 account-item">
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save changes" class="btn btn-default" disabled/>
            </div>
        </div>
    }
    
    @*<dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>*@
        
            @*Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication*@
        
          
            @*<dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>

        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>
            @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                        <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                        <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }
        </dd>
    </dl>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script type="text/javascript">
    //TODO
    $(function () {
        $('input#Username').on('input', function () {
            EnableSaveChangesButton();
        });
        $('input#Email').on('input', function () {
            EnableSaveChangesButton();
        });
        $('#profile-photo-upload').change(function () {
            EnableSaveChangesButton();
        });
    });

    function EnableSaveChangesButton()
    {
        $('input[value="Save changes"]').prop("disabled", false);
    }
</script>