﻿@using Microsoft.AspNet.Identity
@using ReferralApp.Helpers

<style type="text/css">
    .nav-tabs > li, .nav-pills > li {
        float: none;
        display: inline-block;
        *display: inline; /* ie7 fix */
        zoom: 1; /* hasLayout ie7 trigger */
    }

    .nav-tabs, .nav-pills {
        text-align: center;
    }

    .well-content {
        text-align: center;
    }
</style>
<div>
    <h2>
        <span class="glyphicon glyphicon-home"></span>&nbsp;All Feed
    </h2>
</div>
<hr />
<ul class="nav nav-pills">
    <li class="@Html.IsSelected(actions: "AllFeedTags", controllers: "AllFeed", cssClass: "active")">
        <a href="/all" aria-expanded="false">Tags</a>
    </li>
    <li class="@Html.IsSelected(actions: "AllFeedReferralLists", controllers: "AllFeed", cssClass: "active")">
        <a href="/all/lists" aria-expanded="true">Linkcodelists</a>
    </li>
    <li class="@Html.IsSelected(actions: "AllFeedReferrals", controllers: "AllFeed", cssClass: "active")">
        <a href="/all/linkcodes" aria-expanded="true">Linkcodes</a>
    </li>
    <li class="@Html.IsSelected(actions: "AllFeedPeople", controllers: "AllFeed", cssClass: "active")">
        <a href="/all/people" aria-expanded="true">People</a>
    </li>
</ul>

