﻿@model ReferralApp.Models.CategoryIndexViewModel

@{
    ViewBag.Title = "Categories";
}

<h2>@ViewBag.Title</h2>

@foreach (var category in Model.Categories)
{
    <div>
        @category.Name
    </div>
}

