﻿@using Microsoft.AspNet.Identity
@using ReferralApp.Helpers

<style type="text/css">
    .nav-tabs > li, .nav-pills > li {
        float: none;
        display: inline-block;
        *display: inline; /* ie7 fix */
        zoom: 1; /* hasLayout ie7 trigger */
    }

    .nav-tabs, .nav-pills {
        text-align: center;
    }

    .well-content {
        text-align: center;
    }
</style>
<div>
    <h2>
        <span class="glyphicon glyphicon-stats"></span>&nbsp;Your Content Analytics
    </h2>
</div>
<hr />
<ul class="nav nav-pills">
    <li class="@Html.IsSelected(actions: "Index", controllers: "UserAnalytics", cssClass: "active")">
            <a href="/analytics" aria-expanded="false">Overview</a>
        </li>
    <li class="@Html.IsSelected(actions: "UserAnalyticsReferrals", controllers: "UserAnalytics", cssClass: "active")">
        <a href="/analytics/linkcodes" aria-expanded="true">Linkcodes</a>
    </li>
    <li class="@Html.IsSelected(actions: "UserAnalyticsReferralLists", controllers: "UserAnalytics", cssClass: "active")">
        <a href="/analytics/lists" aria-expanded="true">Linkcodelists</a>
    </li>
</ul>
