﻿@model ReferralApp.Models.UserAnalyticsReferralsViewModel
@{
    ViewBag.Title = "AnalyticsReferrals";
}

@Html.Partial("~/Views/UserAnalytics/_UserAnalyticsNavigationPartial.cshtml")
&nbsp;
@if (Model.Referrals.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Linkcode
                </th>
                <th>
                    Impressions
                </th>
                <th>
                    Clicks
                </th>
                <th>
                    Saves
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Referrals)
            {
                var impressionsCount = item.ReferralAnalytics
                   .Where(ra => ra.AnalyticsType == ReferralApp.Entities.AnalyticsType.Impressions).Count();
                var clicksCount = item.ReferralAnalytics
                   .Where(ra => ra.AnalyticsType == ReferralApp.Entities.AnalyticsType.Clicks).Count();
                var savesCount = item.ReferralAnalytics
                   .Where(ra => ra.AnalyticsType == ReferralApp.Entities.AnalyticsType.Saves).Count();
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(m => impressionsCount)
                    </td>
                    <td>
                        @Html.DisplayFor(m => clicksCount)
                    </td>
                    <td>
                        @Html.DisplayFor(m => savesCount)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
