﻿@using Microsoft.AspNet.Identity
@using ReferralApp.Models
@model ReferralApp.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    LayoutMenuViewModel LayoutMenuModel = ViewBag.LayoutMenuModel;
}
<style type="text/css">
    .nav-tabs > li, .nav-pills > li {
        float:none;
        display:inline-block;
        *display:inline; /* ie7 fix */
         zoom:1; /* hasLayout ie7 trigger */
    }
    .nav-tabs, .nav-pills {
        text-align:center;
    }
    .jumbotron {
        border:none;
        background:transparent !important;
    }
    .tagline {
        text-align:center;
        /*font-style:italic;*/
        font-size:2em;
        font-family:'times new roman';
    }
    .button-tag{
        margin-bottom: 0.5em;
    }
    .profile-photo {
        border:1px solid lightgray;
        width:130px;
        height:143px;
    }
    .profile-photo-none {
        font-size:10em;
        color:#555555;
    }
    .username-region {
        font-weight:bold; 
        font-size:x-large;
    }
    .user-container {
        text-align:center;
        margin-bottom:1em;
    }
    .see-all {
        float:right;
    }
</style>
<div class="jumbotron jumbotron-content">
    <h2 class="tagline">
        Share and save all day...
    </h2>
    <form>
        <div class="form-group group-width">
            <div class="input-group group-width">
                <input type="text" id="navbar-input" class="form-control" placeholder="Search" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </form>
    <div>
        ex: paula's choice, ofra, uber, duelyst, etc.
    </div>
</div>

<div>
    <h3><span class="glyphicon glyphicon-tags"></span>&nbsp;Tags</h3>
</div>
<hr />
<div>
    @foreach (var tag in Model.Tags)
    {
        <a href="/tags/@tag.Name.ToLower()" class="btn btn-warning btn-sm button-tag">
            @tag.Name
        </a>
    }
    <div class="row">
        <a href="/tags" class="see-all">
            See all...
        </a>
    </div>
</div>
<div>
    <h3><span class="glyphicon glyphicon-list"></span>&nbsp;Linkcodelists</h3>
</div>
<hr />
<div>
    <div class="row">
        @Html.Partial("_ReferralLists", Model.ReferralLists)
    </div>
    <div class="row">
        <a href="/all/lists" class="see-all">
            See all...
        </a>
    </div>
</div>
<div>
    <h3><span class="glyphicon glyphicon-modal-window"></span>&nbsp;Linkcodes</h3>
</div>
<hr />
<div>
    <div class="row">
        @Html.Partial("_Referrals", Model.Referrals)
    </div>
    <div class="row">
        <a href="/all/linkcodes" class="see-all">
            See all...
        </a>
    </div>
</div>
<div>
    <h3><span class="glyphicon glyphicon-user"></span>&nbsp;People</h3>
</div>
<hr />
<div>
    <div class="row">
        @foreach (var user in Model.PeopleToFollow)
        {
            <div class="col-lg-3 user-container">
                <a href="/@user.UserName">
                    @{
                        var profilePhoto = user.FilePaths.FirstOrDefault(o => o.FileType == ReferralApp.Entities.FileType.UserProfilePhoto);
                        if (profilePhoto != null)
                        {
                            if (!System.IO.File.Exists(Path.Combine(@"C:\Users\kevin_000\Desktop\Projects\ReferralApp\ReferralApp\Content\Images", profilePhoto.FileName)))
                            {
                                profilePhoto = null;
                            }
                        }

                        var profilePhotoFileName = profilePhoto != null ? profilePhoto.FileName : "";
                    }
                    @if (!string.IsNullOrEmpty(profilePhotoFileName))
                    {
                        <img src="@Url.Content("~/Content/Images/" + profilePhotoFileName)" class="img-circle profile-photo" />
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-user profile-photo-none"></span>
                    }
                    <div class="username-region">
                        @user.UserName
                    </div>
                </a>
                <div class="follow-btn-container">
                    <button class="btn btn-primary follow-user" type="submit" value="@user.UserName"><span>Follow</span></button>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <a href="/all/people" class="see-all">
            See all...
        </a>
    </div>
</div>

